body {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}
h1 {
  color: whitesmoke;
  font-family: "Caveat", cursive;
  font-size: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}
.container {
  margin: 40px auto;
  max-width: 750px;
}
.card {
  border-color: white;
}
.card-body {
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  border-radius: 10px;
  padding: 30px;
}
.btn-primary {
  background-color: #ec6e4c;
  border-color: #ec6e4c;
  color: white;
  font-weight: bold;
}

.list-group {
  --bs-list-group-border-color: #55758f;
}

.list-group-item {
  background-color: #55758f;
  text-align: center;
}

.overview {
  margin: 20px auto;
}

.weather-temperature {
  margin-bottom: 25px;
}

.weather-temperature img {
  margin-right: 5px;
  width: 64px;
  height: 64px;
}
.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;

  line-height: 1;
}

.weather-temperature .active {
  cursor: default;
  text-decoration: none;
}

.weather-list {
  text-align: center;
}

.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.link {
  color: #ec6e4c;
}

.form-control:hover {
  color: black;
}
